a {
    /* blue-500 */
    color: #3B82F6; 
}

a:hover {
    /* blue-300 */
    color: #93C5FD; 
}

h1 {
    /* pink-500 */
    color: #EC4899;
    letter-spacing: 2px;
}

h2, h3 {
    /* pink-500 */
    color: #EC4899;
}

#header {
    height: 175px;
    background-image: url(/img/assets/bg-500.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 550px) {
    #header{
        height: 350px;
    background-image: url(/img/assets/bg-1200.jpg);
    }
}

@media (min-width: 1200px) {
    #header{
        height: 550px;
    background-image: url(/img/assets/bg-2000.jpg);
    }
}